body{
  background-color: #01040a;
}

h1{
    font-family: Roboto, Arial;
    text-align: center;
    color: #db3632;
    font-size: xx-large;
    margin-bottom: 50px;
}


.p1{
    text-align: center;
    color: white;
    font-family: Robot, Arial;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
    font-size: medium;
    margin-bottom: 50px;
}

.button {
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: Robot, Arial;
    border: none;
    margin-top: 8px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    transition: opacity 0.30s,
      background-color 0.30s,
      color 0.30s,
      box-shadow 0.30s,
      adding 0.30;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button:hover{
    opacity: 0.7;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.426);
    padding: 9px  17px;
}

.GitHub-button {
    background-color: white;
    color: #01040a
  }

.GitHub-button:active{
    border-width: 1px;
    color: #01040a;
    font-weight: bold;
}

.Linkedin-button {
    justify-content: center;
    background-color: #0a66c2;
}

.Linkedin-button:active{
    border-width: 1px;
    color: white;
    font-weight: bold;
}

.socials{
    text-align: center;
    color: beige;
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: bold;
}

.here{
  color: white;
  text-decoration: none;
}

.here:hover{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}