body{
    background-color: #01040a;
    font-family: Robot, Arial; 
}

.page-heading{
    text-align: center;
    font-size: xx-large;
    color: white;
    background-color: #6d3b41;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.project-overview{
    Vertical-align: top;
    display: inline-block;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.project-logos {
    width: 90px;
    height: 90px;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}

.project-title{ 
    margin: 20px;
    display: block;
    color: white;
    background-color: #30573e;
}

.project-description{ 
    margin: 0;
    line-height: 25px;
    display: inline-block;
    color: white;
    width: 400px;
}

.here{
    text-decoration: none;
    color: white;
}
.here:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}



